.App {
  text-align: center;
}

.form-style {
  margin: 40px auto;
  color: rgb(13, 9, 248);
  border-radius: 8px;
  background-color: lightgreen;
  width: 30%;
}

.link-style {
  float: right;
}

.lists-style {
  margin: 20px auto;
  width: 40%;
  text-align: left !important;
}

.list-btn-style {
  margin-right: 10px;
}
